.App {
  text-align: center;
  background-color: #282c34;
  background-image:url(https://vic2.paradoxwikis.com/images/0/07/MainBG2.png);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}